
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-top: 2px solid #006847;
}
.bd-railway-logo{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}
.bd-railway-logo img{
    width: 55px;
}
.railway-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.railway-slogan h3{
    color: #DA924E !important;
    font-weight: 600;
    font-size: 1.3em;
}
.railway-slogan p{
    color: #006847;
    font-size: 0.8em;
}

.shohoz-logo h3{
    line-height: 0.1;
    font-weight: 600;
    color: #006847;
}
.shohoz-logo p{
    line-height: 0.4;
    font-weight: bold;
}


/* media queries for mobile screen max-size 400px */

@media screen and (max-width: 400px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .railway-slogan h3{
        font-size: 1em;
        line-height: 0.2;
    }
    .railway-slogan p{
        font-size: 0.6em;
        margin-bottom: 0;
    }
    .bd-railway-logo{
        margin-bottom: 15px;
    }
    .shohoz-logo p{
        font-size: 0.8em;
        text-align: center;
    }
    .shohoz-logo h3{
        font-size: 1em;
    }
}

/* media queries for mobile screen (min-width: 400px) and (max-width:600px) */
@media screen and (min-width: 400px) and (max-width:600px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .railway-slogan h3{
        font-size: 1em;
        line-height: 0.2;
    }
    .railway-slogan p{
        font-size: 0.6em;
        margin-bottom: 0;
    }
    .bd-railway-logo{
        margin-bottom: 15px;
    }
    .shohoz-logo p{
        font-size: 0.8em;
        text-align: center;
    }
    .shohoz-logo h3{
        font-size: 1em;
    }
}